body, ul, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, input, form {
	margin: 0;
	padding: 0;
}
body {
  font: 14px "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, "Microsoft YaHei",  "STHeiti", "WenQuanYi Micro Hei", "PingFang SC", "SimSun", sans-serif;
  overflow-x: hidden;
}
li {
	list-style: none;
}
img {
	border: 0;
	vertical-align: middle;
}
input {
	border: 0;
	outline: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}
a {	
	text-decoration: none;
}
i, em {
	font-style: normal;
}
.bx {
	width: 1200px;
	margin: 0 auto;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.clearfix {
	*zoom: 1;
}
a:hover {
	color: #f00;
}