.xm-lx-div-1 {
  padding-top: 100px;
}
.xm-lx-div-1 li {
  border: 1px solid #ccc;
  padding-top: 30px;
  height: 115px;
  width: 33.33%;
  box-sizing: border-box;
}
.xm-lx-div-1 li .fr {
  padding-top: 4px;
  width: 60%;
}
.xm-lx-div-1 li .fl {
  padding-left: 15%;
  width: 20%;
}
.xm-lx-div-1 li p {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 5px;
}
.xm-lx-div-2 {
  padding-top: 100px;
  margin-bottom: 50px;
}
.xm-lx-div-2 h3 {
  text-align: center;
  font-size: 32px;
  color: #fff;
  padding-bottom: 100px;
}
.xm-lx-div-2 p {
  width: 33.33%;
  text-align: center;
}
.xm-lx-div-2 p input {
  background: transparent;
  border-bottom: 1px solid white;
  color: #888;
  width: 90%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}
.xm-lx-div-2 textarea {
  display: block;
  background: transparent;
  margin: 0 auto;
  color: #888;
  border-bottom: 1px solid white;
  width: 97%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 20px;
  font-size: 16px;
  margin-bottom: 20px;
}
.xm-lx-div-2 a {
  display: block;
  width: 97%;
  margin: 0 auto;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 1px solid white;
  font-size: 16px;
  color: #fff;
}



@media only screen and (max-width:768px){
  .xm-lx-div-1 li {
    float: none;
    width: 100%;
  }
  .xm-lx-div-2 p {
    float: none;
    height: 50px;
    width: 100%;
  }
  .xm-lx-div-2 textarea {
    width: 90%;
  }
  .xm-lx-div-2 a {
    width: 90%;
  }
}